.gradle/
.idea/
app/build/
app/.idea/
app/app.iml
captures/
JellowCommunicatorApp.iml
Jellow-Communicator.iml
local.properties
/app/google-services.json
java_pid5956.hprof
java_pid7765.hprof
java_pid81921.hprof
gradle.properties
gradle.properties
*.properties
gradle.properties
*.aab
app/src/debug/google-services.json
app/src/release/google-services.json
