<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsource.idc.jellow">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@null">
        <service
            android:name=".SimpleIME"
            android:label="@string/simple_ime"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Intro"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="Introduction to Jellow"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Sequence_Activity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SharedPreferences"
            android:screenOrientation="landscape" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Setting"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Keyboard_Input"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Keyboard Input"
            android:screenOrientation="landscape" />
        <activity
            android:name=".About_Jellow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="About Jellow"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Profile_form"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Profile"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Feedback"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Feedback"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Tutorial"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Tutorial"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Reset__preferences"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Reset Preferences"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Splash"
            android:screenOrientation="landscape">
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".Main2LAyer"
            android:screenOrientation="landscape" />
        <activity android:name=".Layer3Activity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>