<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dsource.idc.jellowintl">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:fullBackupContent="@null"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name=".LanguagePackUpdateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".LevelBaseActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".SpeechEngineBaseActivity" />

        <service
            android:name=".SimpleIME"
            android:label="@string/simple_ime"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="@string/level_1_screen"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Intro"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="@string/intro_to_jellow"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SequenceActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="@string/sequence_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UserRegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KeyboardInputActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menuKeyboardInput"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AboutJellowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menuAbout"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ProfileFormActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menuProfile"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menuFeedback"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TutorialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menuTutorials"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ResetPreferencesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menuResetPref"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/labelSplash"
            android:screenOrientation="landscape" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LevelTwoActivity"
            android:label="@string/level_2_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LevelThreeActivity"
            android:label="@string/level_3_screen"
            android:screenOrientation="landscape" />

        <service android:name=".utility.JellowFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LanguageDownloadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/language_download_screen"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LanguageSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/Language"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LanguageSelectTalkBackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/Language"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/search_act_title"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".LanguagePackageUpdateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FeedbackActivityTalkBack"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menuFeedback"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AccessibilitySettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menuFeedback"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>